.appContainer {
    min-height: 200px;
}
.MuiButton-contained {
    background-color: transparent !important;
}
.MuiButton-contained:hover {
    background-color: #F0F4F8 !important;
}
.MuiButton-contained:disabled {
    background-color: lightgrey !important;
}